@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}

html{
	font-size:62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('f4.jpg') no-repeat;
  background-size: cover;
  background-position: center;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo{
  font-size: 4em;
  color: #6e0078;
  user-select: none;
  font-family: italic;
}
.navigation a{
  position: relative;
  font-size: 1.7em;
  color: purple;
  text-decoration: none;
  font-weight: 1000;
  margin-left: 40px;

}

.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: purple;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
  color: purple;
  
}

.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
  
}

.btn{
  margin-top: -3rem;
  margin-left: 88rem;
  padding: .3rem 1rem;
	display: inline-block;
  border-radius: 20px;
	font-size: 1.7rem;
  font-weight: 700;
	color:rgb(255, 255, 255);
	background: purple;
	cursor: pointer;
  text-decoration: none;
  position: relative;
  right: 5px;
  top: -160px;
    
}

.btn:hover{
	letter-spacing:.1rem;
  
}

.content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:80%;
   margin:auto;
   color:purple;
}
.content .text{
    width: 40%; 
	color:purple;
}
.content .text h2{
    font-size: 30px;
    text-transform: uppercase;
	  color:#fff;
    font-style: italic;
}
.content .text p{
     font-size: 18px;
     font-weight: 600;
     font-style: italic;
     position: relative;
     right: -600px;
     top: -140px;
     margin: 30px 50px;
    align-items: center;
    margin-left:20px;
    color:#fff;
    display: flex;
   justify-content: space-between;
  
	
}
.content .images{
   width: 30%;
 
}
.content .images img{
   width: 350px;
  
}

/*media queries*/

@media(max-width:991px){
  html{
      font-size: 55%;
  }

.header{
  padding: 1.5rem 2rem;
}

section{
  padding: 2rem;
}
}
